@import "./variable.scss";
/* 页面宽度小于800px
------------------------------- */
@media screen and (max-width: 800px) {
  .el-dialog {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
  }
  .el-dialog__body {
    max-height: calc(100vh - 120px) !important;
  }

  .el-dialog.is-fullscreen {
    width: 100% !important;
  }
}
